.dashboard-container {
    padding: 30px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.dashboard-actions {
    display: flex;
    gap: 10px;
}

.btn-primary,.btn-danger,.btn-outline,.btn-danger-outline {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
}

.btn-primary {
    background: var(--color-primary);
    color: white;
}

.btn-primary:hover {
    background: var(--color-primary-hover);
}

.btn-danger {
    background: var(--danger);
    color: white;
}

.btn-outline {
    border: 1px solid var(--color-primary);
    background: transparent;
    color: var(--color-primary);
}

.btn-outline:hover {
    background: var(--color-primary-light);
}

.btn-danger-outline {
    border: 1px solid var(--danger);
    background: transparent;
    color: var(--danger);
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.analytics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 28px;
    margin-bottom: 30px;
}

.analytics-card {
    background: var(--color-bg-card);
    padding: 18px;
    border-radius: 8px;
    box-shadow: var(--shadow-md);
    text-align: center;
}

.analytics-card h4 {
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

.analytics-card p {
    font-size: 18px;
    font-weight: 600;
}

.task-card {
    background: var(--color-bg-card);
    padding: 18px;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.task-card h3 {
    font-size: 18px;
}

.task-card p {
    font-size: 14px;
}

.task-card-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.error-text {
    color: var(--danger);
    margin-bottom: 15px;
}

@media (max-width: 600px){
    .dashboard-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}
