*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-bg-main: #FFFFFF;
    --color-text-main: #000000;
    --color-primary: #4F46E5;
    --color-primary-hover: #4338CA;
    --color-primary-light: #EEF2FF;
    --color-bg-card: #F9FAFB;
    --color-bg-input: #F3F4F6;
    --shadow-sm: 0 4px 15px rgba(0, 0, 0, 0.2);
    --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.08);
    --success : #10B981;
    --warning : #F59E0B;
    --danger : #EF4444;
}
body{
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    font-family: sans-serif;
}

.spin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg-main);
    z-index: 999;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid var(--color-primary);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

