name: Full Stack CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # Step 1 - Clone repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Step 2 - Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Step 3 - Install Backend Dependencies
      - name: Install backend
        run: |
          cd backend
          npm install

      # Step 4 - Install Frontend Dependencies
      - name: Install frontend
        run: |
          cd frontend
          npm install

      # Step 5 - Build Frontend
      - name: Build frontend
        run: |
          cd frontend
          npm run build